/target
/api-sources
.settings
/.project
/.classpath
.DS_Store
.idea
.nrepl-port
*.iml
*.iws
**/Slask*
**/slask*
src/test/resources/rsimulator.log
/logs
/logArchive
**/swagger.json
**/rsimulator.log
/build
__pycache__
**/*.log
